/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', 'Arial', 'sans-serif';
  background-color: #131313;
}


.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  width: 80%;
  margin-left: auto;
  margin-right: auto ;
}

.header-logo{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header-logo-a{
  text-decoration: none;
  color: #ff980b;
}

.header-logo-img{
  width: 100px;
}

.header-logo-img-right{
  display: none;
}

.header-nav{
  width: 100%;
  background-color: #ff980b;
}

.header-nav-container{
  width: 100%;
  justify-content: space-between;
  align-items: start;
  display: flex;
}


.header-nav-ul{
  width: 100%;
  list-style: none;
  justify-content: space-between;
  display: inline-flex;
  background-color: #131313;
  margin-top: 15px;
  border: 2px solid;
}

#sel-category{
  background-color: #ff980b;
  color: black;
}

.header-nav-search input{
  vertical-align: top;
  margin-left: 15px;
  margin-top: 15px;
}
.header-nav-search>button{
  margin-top: 15px;
  margin-left: 10px;
}
.header-nav-ul-li-a{
  font-size: 1.2em;
  display: inline;
  width: 100%;
  text-decoration: none;
  color: #131313;
  background-color: #ff980b;
}

.header-nav-ul-li-a:hover{
  background-color: white;
  color: black;
}


.header-nav-cart-login{
  text-align: end;
  margin-top: 15px;
  margin-right: 15px;
}
#productos-section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ff980b;
}

.productos-h2{
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#productos{
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#producto-div{
  width: 100%;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 1rem;
}

#producto-div>h3{
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

#producto-div>img{
  width: 80%;
  height: auto;
}

#producto-div>p{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
}

#producto-div>button{
  width: 50%;
  margin-bottom: 1rem;
}


.recommended-products{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
  background-color: #ff980b;
}

.recommended-products-h2{
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}


.footer{
  display: flex;
  flex-wrap: wrap;
  color: #ff980b;
  background-color: #131313;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.footer-content{
  width: fit-content;
  display: inline-flex;
  align-self: center;
}

.footer-content-a{
  color: white;
  display: inline;
  text-decoration: none;
  margin-right: 0.5rem;
}

.footer-content-a:hover{
  background-color: white;
  color: black;
}

.footer-content-social-media{
  display: inline;
}

.footer-content-social-media-a:hover{
  background-color: white;
}


.footer-content-img{
  width: 100px;
}

.footer-content-p{
  width: 100%;
  text-align: center;
}

/* Contenedor login */

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  height: 300px;
  text-align: center;
}

#cerrarLogin {
  color: red;
  float: right;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-align: end;
}

#cerrarLogin:hover,
#cerrarLogin:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.modal-content h2 {
  margin-bottom: 10px;
  text-align: start;
}

#login-form {
  display: flex;
  flex-direction: column;
  height: 80px;
}

#login-form label {
  margin-bottom: 1rem;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  padding: 5px;
  margin-bottom: 1rem;
}

#login-form button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#cart-items{
  border: 1px solid black;
  text-align: center;
  height: auto;
  max-width: 200px;
  max-height: 250px;
  overflow-y: scroll;
}

#cart>h2{
  border: 1px solid black;
  text-align: center;
}

#cart-items{
  display: flex;
  flex-wrap: wrap;
}

#cartLi{
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 0.5rem;
}

#title{
  font-size: 1.2rem;
  font-weight: bold;
}

#divPrice>p{
  display: inline-flex;
}

#divCant>p{
  display: inline-flex;
}
#cartX#divStock>p{
  display: inline-flex;
}

#cartLi>img{
  width: 100px;
}
#producto-div #divPrice{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
}
#producto-div #divStock{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
}
#divPrice>p{
  display: inline-flex;
}
#divStock>p{
  display: inline-flex;
}
.cart-footer{
  text-align: center;
}
.cart-footer>button{
  margin-left: 5px;
  margin-right: 5px;
}
/* Sección Contacto */
.main-contact{
  width: 80%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff980b;
}
.main-contact h2{
  text-align: center;
  margin-bottom: 15px;
  font-size: 2rem;
}

.main-form{
  border: black solid 2px;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}


.form-group{
  margin-bottom: 1rem;
}


.form-group input{
  width: 70%;
}

.form-group textarea{
  width: 70%;
}


.main-form h3{
  text-align: center;
  color:black;
  font-weight: bold;
  margin-bottom: 1rem;
}
.main-contact-img{
  width: 80%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.main-contact-img img{
  width: 100%;
}
.main-form-bot{
  display: flex;
  justify-content: space-evenly;
}
.main-form-bot input{
  background-color: black;
  color: #f4f4f4;
  border-radius: 20px;
  width: 120px;
}

#novedades{
  width: fit-content;
}
/* Compra */
.main-compra-section{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ff980b;
}
.main-compra-article{
  border: black 1px solid;
  width: 100%;
  padding: .5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.main-compra-article h2{
  margin-bottom: 10px;
}

.main-compra-article p{
  margin-bottom: 15px;
}
.main-compra-botones{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-compra-botones>button{
  height: 40px;
  width: 150px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 0px 10px 10px 10px;
}

.main-compra-text{
  font-weight: bold;
  text-align: center;
}
.main-compra-sub-contenedor{
  width: 80%;
  
}
.main-compra-article-2{
  display: flex;
  flex-direction: column;
  border: black 2px solid;
  background-color: #ff980b;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  margin-top: 15px;
}
.main-compra-div-cupon{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.main-compra-div-cupon>input{
  margin-top: 10px;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}

.main-compra-div-cupon>button{
  margin-top: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.main-compra-article-2-subcategory{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
}

.main-compra-article-2-subcategory h2{
  margin-bottom: 10px;
  text-align: start;
}

.main-compra-article-2-subcategory-p {
  border-top: 2px solid black;
  text-align: start;
}
.main-compra-article-2-subcategory-p>div{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}
.main-compra-article-2-subcategory-button>button{
  margin-top: 10px;
  width: 80%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.whatsapp-section {
  position: fixed;
  width: 35px;
  bottom: 30px;
  right: 5px;
}

.whatsapp-expand {
  display: none;
}

.whatsapp-logo {
  width: 100%;
}
/* ----------------- min-width: 876px ------------------------------------- */
@media (min-width: 876px){
  .header-logo-img-right{
    display: block;
    width: 100px;
  }

  .footer-content{
    margin-left: 10%;
  }
  .footer-content-social-media a{
    margin-right: 15px;
  }
  .footer-content-a{
    margin-left: .4rem;
  }

  .footer-content-img-container{
    margin-right: 10%;
  }


  #productos-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
  }

  #productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 0;
  }

  #productos #producto-div{
    display: inline-flex;
    flex-wrap: wrap;
    width: 30%;
    text-align: center;
    justify-content: center;
    align-content: space-between;
    border: 1px solid black;
    margin-bottom: 1rem;
  }

  #producto-div h3{
    width: 100%;
  }

  #producto-div img{
    width: auto;
    max-height: 190px;
  }

  #producto-div button{
    max-height: 20px;
  }

  .recommended-products{
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  #recommended-products-product{
    display: flex;
    justify-content: space-evenly;
  }

  .recommended-products #producto-div{
    display: inline-flex;
    flex-wrap: wrap;
    width: 30%;
    text-align: center;
    justify-content: center;
    align-content: space-between;
    border: 1px solid black;
    margin-bottom: 1rem;
  }

  
  
  /* Sección Contacto */
  .main-contact h2{
    font-size: 2rem;
  }
  .main-contact h3{
    width: 100%;
    font-size: 1.3rem;
    border-bottom: 1px solid black;
    margin-bottom: 0;
  }
  .main-contact{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 2rem;
  }
  .main-form{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-between;
    vertical-align: top;
    padding: .4rem;
  }
  .main-formulario{
    text-align: center;
    font-size: 1.2rem;
    border-right: 1px solid black;
  }

  .main-contact-img{
    margin-right: 5%;
    margin-top: 0px;
    width: 40%;
    padding: 0;
  }
  .main-contact-img img{
    height: 100%;
    width: 100%;
  }

  /* Compra */
  .main-compra-section{
    display: flex;
    flex-direction: row;
  }

  .whatsapp-section {
    position: fixed;
    width: 5%;
    bottom: 30px;
    right: 10px;
  }
  
  .whatsapp-logo {
    height: inherit;
    width: 60%;
  }
  
  .whatsapp-expand {
    position: inherit;
    right: 10px;
    bottom: 30px;
    display: none;
    font-size: 0.8em;
  }
  
  .whatsapp-section:hover .whatsapp-expand {
    display: block;
  }
  
  .whatsapp-section:hover .whatsapp-logo {
    display: none;
  }
  .whatsapp-chat{
    display: table;
    font-family: sans-serif;
    text-decoration: none;
    margin: 1em auto;
    color: #fff;
    font-size: 0.9em;
    padding: 1em 2em 1em 3.5em;
    border-radius: 2em;
    font-weight: bold;
    background: #25d366
    url('https://tochat.be/click-to-chat-directory/css/whatsapp.svg')
    no-repeat 1.5em center;
    background-size: 1.6em;
  }

  
}


  
